# Archivos fuente de Documentacion (LaTeX)
*.tex
*.cls
*.aux
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.toc
*.out
*.lot
*.synctex
*.xdv

# Plantillas de Documentacion
docs/templates

# Archivos de entorno
*.env
*.env.prod
*.env.dev

# Modulos de Node
node_modules

# Archivos de VSCode
.vscode/

# Archivos de registro (logs)
logs/

AGENTS.md